<a href="https://colab.research.google.com/github/damarismuli/Moringa_Data_Science_Prep_W4_Independent_Project_2022_02_Damaris_Muli_Python_Notebook/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2022_02_Damaris_Muli_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.0 Importing our Libraries**

In [287]:
# Importing the libraries we will usein this project.
# Importing the pandas library

import pandas as pd

# Importing the numpy library

import numpy as np

# importing the datetime library

from datetime import datetime

**1.1 Reading the Dataset from our CSV file**

In [288]:
# Dataset url = http://bit.ly/autolib_dataset 
# 
electric_car_sharing  = pd.read_csv('http://bit.ly/autolib_dataset') 
electric_car_sharing.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

**1.2 Previewing our Dataset**

In [289]:
# previewing the first ten rows of our dataset
electric_car_sharing.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [290]:
# previewing the last ten rows of our dataset
electric_car_sharing.tail(10)

                                           Address  Cars  ...  hour  minute
4990                    47 boulevard de l'HÃ´pital     0  ...    21      13
4991  56 avenue du MarÃ©chal de Lattre de Tassigny     5  ...    20      43
4992                               3 avenue d'Ivry     0  ...    23       1
4993                    6 avenue Charles-de-Gaulle     6  ...     4      43
4994                              15 rue de Rocroy     0  ...    20      49
4995                           8 avenue MÃ©nelotte     2  ...    11      26
4996                             37 rue de Dantzig     4  ...    16      56
4997                                142 rue du Bac     1  ...     7       1
4998                   2 avenue du Val de Fontenay     2  ...    17      27
4999                           5 Rue Henry Brisson     4  ...    10       2

[10 rows x 25 columns]

**1.3 Accessing Information about our Dataset**

In [291]:
# Getting understand to about the dataset by accessing its information

electric_car_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

**1.4 Cleaning our Dataset**

1.41 Validity

In [292]:
# # Procedure 1:Irrelevant Observation
# Data Cleaning Action: Dropping Unnecessary columns given in the dataset to comlete the  in this project
# Explanation:We won't need them during Analysis. No question to be answered requires the columns.
electric_car_sharing.drop(['Displayed comment', 'ID', 'Geo point','Address'], axis = 1, inplace = True)
electric_car_sharing

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[5000 rows x 21 columns]

In [293]:
# Procedure 2: Outliers
# Data Cleaning Action: checking if the dataset contain  outliers using IQR Scores
# Explanation:We'll not not drop outliers in this project but the commented code below can be uncommented to drop outliers.


Q1 = electric_car_sharing.quantile(0.25)
Q3 = electric_car_sharing.quantile(0.75)

IQR = Q3 - Q1


(electric_car_sharing < (Q1 - 1.5 * IQR)) |(electric_car_sharing > (Q3 + 1.5 * IQR))


# Uncomment below code to drop outliers.

# electric_car_sharing_no_outlier = electric_car_sharing[~((electric_car_sharing< (Q1 - 1.5 * IQR)) | (electric_car_sharing> (Q3 + 1.5 * IQR))).any(axis = 1)]

# electric_car_sharing_no_outlier

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  if sys.path[0] == '':

      Bluecar counter   Cars  Charge Slots  ...  minute  month   year
0               False  False         False  ...   False  False  False
1               False  False         False  ...   False  False  False
2               False  False         False  ...   False  False  False
3               False  False          True  ...   False  False  False
4               False  False         False  ...   False  False  False
...               ...    ...           ...  ...     ...    ...    ...
4995            False  False         False  ...   False  False  False
4996            False  False          True  ...   False  False  False
4997            False  False          True  ...   False  False  False
4998            False  False         False  ...   False  False  False
4999            False  False         False  ...   False  False  False

[5000 rows x 21 columns]

1.42 Accuracy

In [294]:
# Procedure 1:
# Data Cleaning Action:None .
# Explanation:None of the rows nor column had two or more values across in the given dataset
#

1.43 Completeness

In [295]:
# # Procedure 1:Missing Values 
# Data Cleaning Action:Dropping null values
# Explanation:We'll identify missing values and drop them.


# Checking if there is any missing value in dataser as a whole
electric_car_sharing.isnull().sum()

Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Kind                      0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [296]:
# let's get rid of columns with null values/Missing values
electric_car_sharing.drop(['Scheduled at'],axis=1,inplace=True)
electric_car_sharing.isnull().sum()

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

**1.44 Consitency**

In [297]:
# Procedure 1: Duplicates
# Data Cleaning Action: Drop/remove the duplicates
# Explanation: They are repetitions in our dataset


electric_car_sharing[electric_car_sharing.duplicated()]

# dropping the duplicates

electric_car_sharing_non_duplicates = electric_car_sharing.drop_duplicates()
 
# non duplicates dataset

electric_car_sharing_non_duplicates.head()

   Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0     0                0               0  ...    8    11     43
1     6                6               0  ...    6     7     24
2     3                3               0  ...    3    20     14
3     3                3               1  ...    4     4     37
4     3                3               0  ...    8    17     23

[5 rows x 20 columns]

**1.45 Uniformity**

In [298]:
# Procedure 1: None
# Data Cleaning:None
# Explanation:No need for renaming column names nor the provided data.

**Deriving new Attributes.**

In [299]:
#Hint:

#To compute usage, we will need to understand that we have to join successive
#(in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened

In [300]:
# Creating a new column where we find the difference in the number of bluecars at the counter/station

electric_car_sharing_non_duplicates['Bluecar_Difference'] = electric_car_sharing_non_duplicates['Bluecar counter'].diff()
electric_car_sharing_non_duplicates.head()

   Cars  Bluecar counter  Utilib counter  ...  hour  minute Bluecar_Difference
0     0                0               0  ...    11      43                NaN
1     6                6               0  ...     7      24                6.0
2     3                3               0  ...    20      14               -3.0
3     3                3               1  ...     4      37                0.0
4     3                3               0  ...    17      23                0.0

[5 rows x 21 columns]

In [301]:
# Creating a new column where we find the difference in the number of Utilib at the counter/station

electric_car_sharing_non_duplicates['Utilib_Difference'] = electric_car_sharing_non_duplicates['Utilib counter'].diff()
electric_car_sharing_non_duplicates.head()

   Cars  Bluecar counter  ...  Bluecar_Difference  Utilib_Difference
0     0                0  ...                 NaN                NaN
1     6                6  ...                 6.0                0.0
2     3                3  ...                -3.0                0.0
3     3                3  ...                 0.0                1.0
4     3                3  ...                 0.0               -1.0

[5 rows x 22 columns]

In [302]:
# Creating a new column where we find the difference in the number of Utilib 1.4 counter at the counter/station

electric_car_sharing_non_duplicates['utilib1.4_Difference'] = electric_car_sharing_non_duplicates['Utilib 1.4 counter'].diff()
electric_car_sharing_non_duplicates.head()

   Cars  Bluecar counter  ...  Utilib_Difference  utilib1.4_Difference
0     0                0  ...                NaN                   NaN
1     6                6  ...                0.0                   0.0
2     3                3  ...                0.0                   2.0
3     3                3  ...                1.0                  -2.0
4     3                3  ...               -1.0                   0.0

[5 rows x 23 columns]

**1.5 Answering Questions**

1.5.1 Bluecar counter

In [303]:
# select city == Paris

electric_car_sharing_paris =electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['City'] =='Paris'] 

electric_car_sharing_paris.head(5)

   Cars  Bluecar counter  ...  Utilib_Difference  utilib1.4_Difference
0     0                0  ...                NaN                   NaN
1     6                6  ...                0.0                   0.0
3     3                3  ...                1.0                  -2.0
4     3                3  ...               -1.0                   0.0
5     0                0  ...                0.0                   0.0

[5 rows x 23 columns]

In [304]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

# positive value - a car was returned

# Negative value - a car was picked
electric_car_sharing_paris[electric_car_sharing_paris['Bluecar_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
21    80
Name: hour, dtype: int64

In [305]:

# What is the most popular hour for returning cars?

electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['Bluecar_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

#21th hour is the most popular hour for returning cars. Its the hour with the highest number of slots

hour
6    101
Name: hour, dtype: int64

In [306]:
#What station is station the most popular?
# let's find the station most popular overall?
electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending=False).head(1)

Public name
Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

In [307]:
# What station is the most popular? At the most popular picking hour?
  
electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok') & (electric_car_sharing_non_duplicates['hour'] == 21)].groupby('Public name')['Public name'].count().sort_values(ascending= False).head(1)

Public name
Paris/Tronchet/19    4
Name: Public name, dtype: int64

In [308]:
#  What postal code is the most popular for picking up Bluecars?Overall? Does the most popular station belong to that postal code?


# let's find the most popular postal code for picking up Bluecars

electric_car_sharing_non_duplicates.groupby('Postal code')['Bluecar counter'].count().sort_values(ascending=False).head(1)


#Does the most popular station belong to that postal code?
#Yes
#Uncomment the below code 
#It returns Paris/Porte de Montrouge/8 which is the popular station belongs to postal code  75015
#electric_car_sharing[(electric_car_sharing['Kind'] == 'STATION') & (electric_car_sharing['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Bluecar counter, dtype: int64

In [309]:
#  What postal code is the most popular for picking up Bluecars at the picking hour? Does the most popular station belong to that postal code?

electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok') &
                                    (electric_car_sharing_non_duplicates['hour'] == 21)].groupby('Postal code')['Bluecar counter'].count().sort_values(ascending=False).head(1)
#No the popular the popular statation does not belong to postal code 75014

Postal code
75014    15
Name: Bluecar counter, dtype: int64

In [310]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

#Below are the results for Utilib and utilib 1.4 for analysis and comparison purposes

1.5.2 Utilib Counter

In [311]:
# select city == Paris

utilib_electric_car_sharing_paris =electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['City'] =='Paris'] 

utilib_electric_car_sharing_paris.head(5)

   Cars  Bluecar counter  ...  Utilib_Difference  utilib1.4_Difference
0     0                0  ...                NaN                   NaN
1     6                6  ...                0.0                   0.0
3     3                3  ...                1.0                  -2.0
4     3                3  ...               -1.0                   0.0
5     0                0  ...                0.0                   0.0

[5 rows x 23 columns]

In [312]:
#Identify the most popular hour of the day for picking up a shared electric car (utilib) in the city of Paris over the month of April 2018.

# positive value - a car was returned

# Negative value - a car was taken
utilib_electric_car_sharing_paris[utilib_electric_car_sharing_paris['Utilib_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
19    12
Name: hour, dtype: int64

In [313]:

# What is the most popular hour for returning cars?

electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['Utilib_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
5    17
Name: hour, dtype: int64

In [314]:
#  What postal code is the most popular for picking up Utilib cars?Overall? Does the most popular station belong to that postal code?


# let's find the most popular postal code for picking up Bluecars

electric_car_sharing_non_duplicates.groupby('Postal code')['Utilib counter'].count().sort_values(ascending=False).head(1)


#Does the most popular station belong to that postal code?
#Yes
#Uncomment the below code 
#It returns Paris/Porte de Montrouge/8 which is the popular station belongs to postal code  75015
#electric_car_sharing[(electric_car_sharing['Kind'] == 'STATION') & (electric_car_sharing['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Utilib counter, dtype: int64

In [315]:
#  What postal code is the most popular for picking up Utilib cars?Overall? Does the most popular station belong to that postal code?


# let's find the most popular postal code for picking up utilib

electric_car_sharing_non_duplicates.groupby('Postal code')['Utilib counter'].count().sort_values(ascending=False).head(1)


#Does the most popular station belong to that postal code?
#Yes
#Uncomment the below code 
#It returns Paris/Porte de Montrouge/8 which is the popular station belongs to postal code  75015
#electric_car_sharing[(electric_car_sharing['Kind'] == 'STATION') & (electric_car_sharing['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Utilib counter, dtype: int64

In [316]:
#  What postal code is the most popular for picking up Utilib 1.4 counter at the picking hour? Does the most popular station belong to that postal code?

electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok') &
                                    (electric_car_sharing_non_duplicates['hour'] == 19)].groupby('Postal code')['Utilib counter'].count().sort_values(ascending=False).head(1)
#No the popular the popular statation does not belong to postal code 75016

Postal code
75012    9
Name: Utilib counter, dtype: int64

1.5.3 Utilib 1.4 counter

In [317]:
# select city == Paris

utilib14_electric_car_sharing_paris =electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['City'] =='Paris'] 

utilib14_electric_car_sharing_paris.head(5)

   Cars  Bluecar counter  ...  Utilib_Difference  utilib1.4_Difference
0     0                0  ...                NaN                   NaN
1     6                6  ...                0.0                   0.0
3     3                3  ...                1.0                  -2.0
4     3                3  ...               -1.0                   0.0
5     0                0  ...                0.0                   0.0

[5 rows x 23 columns]

In [318]:
#Identify the most popular hour of the day for picking up a shared electric car Utilib 1.4  in the city of Paris over the month of April 2018.

# positive value - a car was returned

# Negative value - a car was picked
utilib14_electric_car_sharing_paris[utilib14_electric_car_sharing_paris['utilib1.4_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
3    20
Name: hour, dtype: int64

In [319]:

# What is the most popular hour for returning cars?

electric_car_sharing_non_duplicates[electric_car_sharing_non_duplicates['utilib1.4_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

#3 rd hour is the most popular hour for returning cars. Its the hour with the highest number of slots

hour
3    30
Name: hour, dtype: int64

In [320]:
#What station is station the most popular?
# let's find the station most popular overall?
electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending=False).head(1)

Public name
Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

In [321]:
# What station is the most popular? At the most popular picking hour?
  
electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok') & (electric_car_sharing_non_duplicates['hour'] == 3)].groupby('Public name')['Public name'].count().sort_values(ascending= False).head(1)

Public name
Paris/Mortier/15    2
Name: Public name, dtype: int64

In [322]:
#  What postal code is the most popular for picking up Utilib 1.4 counter?Overall? Does the most popular station belong to that postal code?


# let's find the most popular postal code for picking up Utilib 1.4 counter

electric_car_sharing_non_duplicates.groupby('Postal code')['Utilib 1.4 counter'].count().sort_values(ascending=False).head(1)


#Does the most popular station belong to that postal code?
#Yes
#Uncomment the below code 
#It returns Paris/Porte de Montrouge/8 which is the popular station belongs to postal code  75015
#electric_car_sharing[(electric_car_sharing['Kind'] == 'STATION') & (electric_car_sharing['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Utilib 1.4 counter, dtype: int64

In [323]:
#  What postal code is the most popular for picking up Utilib 1.4 counter at the picking hour? Does the most popular station belong to that postal code?

electric_car_sharing_non_duplicates[(electric_car_sharing_non_duplicates['Kind'] == 'STATION') & (electric_car_sharing_non_duplicates['Status'] == 'ok') &
                                    (electric_car_sharing_non_duplicates['hour'] == 3)].groupby('Postal code')['Utilib 1.4 counter'].count().sort_values(ascending=False).head(1)
#No the popular the popular statation does not belong to postal code 75016

Postal code
75016    9
Name: Utilib 1.4 counter, dtype: int64

In [324]:
#Conclusion
#Results change 
#The incounter time for the given stations are different
#They have different popular picking time which is dependent on the different counter difference.